* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
	font-family: kamerik-3d;
	src: url(../fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/merriweather-regular-italic.woff2);
}
body {
	background-color: #000;
	color: #fff;
	font-family: kamerik-3d;
}
.logo {
	--logo-size: calc(var(--index) * 7.8);
	width: var(--logo-size);
	height: var(--logo-size);
	background-repeat: no-repeat;
	position: absolute;
	left: calc(51% - calc(var(--logo-size) / 2));
	top: calc(var(--index) * 2.8);
	z-index: 1;
}
.layers {
	perspective: 1000px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.layer-1 {
	transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
	transform: translateZ(80px) scale(.88);
}
.layer-3 {
	transform: translateZ(180px) scale(.8);
}
.layer-4 {
	transform: translateZ(190px) scale(.9);
}
.layer-5 {
	transform: translateZ(300px) scale(.9);
}
.layer-6 {
	transform: translateZ(380px);
}
.hero-content {
	font-size: calc(var(--index) * 2.9);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
}
.hero-content span {
	display: block;
}
.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .73);
	line-height: 3;
}
.button-start {
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
	outline: none;
	cursor: pointer;
	margin-top: calc(var(--index) * 2.5);
}
.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}


.purchase-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.purchase-modal-content {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 300px;
    text-align: center;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.purchase-modal h2 {
    margin-bottom: 10px;
}

.purchase-modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pay-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pay-button:hover {
    background-color: #0056b3;
}

.buy-button {
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #fff;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 3px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 2.5);
    transition: background-color 0.3s ease; /* Добавлено анимированное изменение цвета фона */
}

.buy-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Изменение цвета фона при наведении */
}

.filters {
    max-width: 1200px; /* Максимальная ширина фильтров */
    margin: 20px auto; /* Центрирование фильтров по горизонтали с отступами сверху и снизу */
    text-align: center; /* Выравнивание текста по центру */
}

select-size-button {
    background-color: #414141; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    border: none; /* Убираем границу кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Изменяем курсор при наведении */
    font-size: 16px; /* Размер текста на кнопке */
}

/* Стили для кнопки выбора размера при наведении */
.select-size-button:hover {
    background-color: #414141; /* Изменяем цвет фона при наведении */
}